html,
body {
  width: auto;
  height: auto;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#mazeContainer {
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
  opacity: 0;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
}

#mazeContainer canvas {
  margin: 0;
  display: block;
  border: solid 5px black;
}

input[type=button],
select {
  transition-property: background-color opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  height: 45px;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

input[type=button]:hover,
select:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

input[type=button]:active,
select:active {
  background-color: black;
}

input[type=button]:focus,
select:focus {
  outline: none;
}

input[type=button] {
  display: inline-block;
}

.custom-select {
  display: inline-block;
}

.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 125px center;
}

#Message-Container {
  visibility: hidden;
  color: white;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#Message-Container #message {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

#page {
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
  height: auto;
  width: 80vw;
  margin: auto;
}

#page #menu {
  margin: auto;
  padding: 10px;
  height: 65px;
  box-sizing: border-box;
}

#page #menu h1 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 3.2rem;
}

.border {
  border: 1px black solid;
  border-radius: 5px;
}

@media only screen and (min-height: 300px) {
  canvas {
    width: 225px;
    height: 225px;
  }
}

@media only screen and (min-height: 400px) {
  canvas {
    width: 325px;
    height: 325px;
  }
}

@media only screen and (min-height: 500px) {
  canvas {
    width: 425px;
    height: 425px;
  }
}

@media only screen and (min-height: 600px) {
  canvas {
    width: 525px;
    height: 525px;
  }
}

@media only screen and (min-height: 700px) {
  canvas {
    width: 625px;
    height: 625px;
  }
}

@media only screen and (min-height: 800px) {
  canvas {
    width: 725px;
    height: 725px;
  }
}

@media only screen and (min-height: 900px) {
  canvas {
    width: 825px;
    height: 825px;
  }
}

@media only screen and (min-height: 1000px) {
  canvas {
    width: 925px;
    height: 925px;
  }
}

@media only screen and (min-height: 1100px) {
  canvas {
    width: 1025px;
    height: 1025px;
  }
}

#gradient {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=index.css.map */